---
- name: Download Neovim release tarball
  ansible.builtin.get_url:
    url: https://github.com/neovim/neovim/releases/latest/download/nvim-linux-x86_64.tar.gz
    dest: /tmp/nvim-linux-x86_64.tar.gz
    mode: '0644'

- name: Extract Neovim to /opt
  ansible.builtin.unarchive:
    src: /tmp/nvim-linux-x86_64.tar.gz
    dest: /opt
    remote_src: true
    creates: /opt/nvim-linux-x86_64

- name: Symlink nvim binary to /usr/local/bin
  ansible.builtin.file:
    src: /opt/nvim-linux-x86_64/bin/nvim
    dest: /usr/local/bin/nvim
    state: link

# -- Neovim configuration (kickstart.nvim)
- name: Check if kickstart.nvim is installed
  ansible.builtin.stat:
    path: /home/{{ username }}/.config/nvim/.kickstart.nvim
  register: kickstart_marker

- name: Remove existing nvim config if kickstart not installed
  ansible.builtin.file:
    path: /home/{{ username }}/.config/nvim
    state: absent
  when: not kickstart_marker.stat.exists

- name: Clone kickstart.nvim
  ansible.builtin.git:
    repo: https://github.com/nvim-lua/kickstart.nvim.git
    dest: /home/{{ username }}/.config/nvim
    depth: 1
  become_user: "{{ username }}"
  when: not kickstart_marker.stat.exists

- name: Create kickstart marker file
  ansible.builtin.file:
    path: /home/{{ username }}/.config/nvim/.kickstart.nvim
    state: touch
    owner: "{{ username }}"
    group: "{{ username }}"
  when: not kickstart_marker.stat.exists

- name: Comment out 'lua_ls' entry in init.lua to avoid a Mason error
  ansible.builtin.lineinfile:
    path: /home/{{ username }}/.config/nvim/init.lua
    regexp: '^(\s*)(?!\-\-)(''lua_ls'',)'
    line: '\1-- \2'
    backrefs: yes

- name: Add pyrefly to LSP servers
  ansible.builtin.lineinfile:
    path: /home/{{ username }}/.config/nvim/init.lua
    regexp: "pyrefly = \\{\\}"
    insertafter: "servers = \\{"
    line: "          pyrefly = {},"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Set nvim as default editor in bashrc
  ansible.builtin.lineinfile:
    path: /home/{{ username }}/.bashrc
    line: export EDITOR=nvim
    regexp: ^export EDITOR=
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Set nvim as default visual editor in bashrc
  ansible.builtin.lineinfile:
    path: /home/{{ username }}/.bashrc
    line: export VISUAL=nvim
    regexp: ^export VISUAL=
    owner: "{{ username }}"
    group: "{{ username }}"
