---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Install packages
  ansible.builtin.apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - tree
      - vim
      - ripgrep
      - fzf
      - fd-find
      - gcc
      - git
      - luarocks
      - make
      - unzip
      - curl
      - cargo
      - wget
      - apt-transport-https
      - software-properties-common
      - python3.13-venv
      - xclip
    state: present
